{% extends 'account/base/base.html' %}

{% load static %}

{% block title %} About {% endblock %}


{% block site_css %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

{% endblock %}

{% block main %} 
    {% include 'account/includes/browse.html' %}
{% endblock %}


{% block click %}
        <a class="navbar-brand" href="{% url 'homepage' %}" method="POST">First Website</a>
{% endblock %}

{% block home %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
           
        </ul>

{% endblock %}



{% block login %}

          <ul class="navbar-nav">
            <li class="nav-item mr-sm-2">
                <a class="nav-link hello-msg" href="login">Hello, {{request.user}}</a>
            </li>
            <!-- <li class="nav-item mr-sm-2">
              <a class="nav-link" href="register">Register</a>
            </li> -->
            <li class="nav-item mr-sm-2">
              <a class="nav-link" href="logout">Logout</a>
            </li>
           
          </ul>

{% endblock %}

{% block content %}
<hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
        <h2 class="featurette-heading">We are Long <span class="text-muted">Bí danh: Long Đen</span></h2>
        <p class="lead">Vũ Hoàng Long</p>
        </div>
        <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'account/image/Long.jpg' %}" width="500" height="500" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Thi <span class="text-muted">Tức Thi Đẹp</span></h2>
        <p class="lead">Nguyễn Thị Minh Thi</p>
        </div>
        <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'account/image/Thi.jpg' %}" width="500" height="500" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 ">
        <h2 class="featurette-heading">Third not yet member <span class="text-muted">Còn gọi là Nọng.</span></h2>
        <p class="lead">Một tên gì đó</p>
        </div>
        <div class="col-md-5 ">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'account/image/kid.jpg' %}" width="500" height="500" alt="Generic placeholder image">
        </div>
    </div>
    
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">We would conquer the world<span class="text-muted">.</span></h2>
        <p class="lead">Thế giới gì thì không biết</p>
        </div>
        <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'account/image/conquer.jpg' %}" width="500" height="500" alt="Generic placeholder image">
        </div>
    </div>

<hr class="featurette-divider">
{% endblock %}
